body {
    max-width: 650px;
    text-align: justify;
    margin: auto;
    padding-bottom: 50px
}

.page-header, .page-subheader, .about {
    text-align: center;
}

.decklist-form {
    margin: auto;
    max-width: 300px;
}

.decklist-form * {
    display: block;
    margin: auto;
}

.decklist {
    text-align: left;
    width: 100%;
    height: 30em;
}

.decklist-submit {
    max-width: 120px;
    text-align: centre;
    color: white;
    background-color: #5CAF70;
    border: none;
    border-radius: 5px;
}

.decklist-exact {
    display: inline-block;
}

.decklist-exact-label {
    text-align: center;
}
